{% include which_course.html %}

{% capture _course_year %}_{{ course_year }}{% endcapture %}

{% assign all_events = site.data[course_name_raw][_course_year].lectures %}

{% assign all_events_sorted = all_events | sort: 'date' | reverse %}

{% if all_events_sorted.size > 0 %}
<div class="announcement-box" style="margin-top:30px">
    <h2>新通知</h2>
    <ul>
        {% for n in all_events_sorted limit:2 %}
        <li class="no-p-margin">
            新讲义发布：{{ n.title }}
            {% if n.slides %}
            <a href="{{ n.slides }}" style="padding-left: 0.7em;">[幻灯片]</a>
            {% endif %}
            <a href="{{ course_base_url }}/assignments" style="padding-left: 0.5em;">[作业]</a>
            {% if n.tldr %}{{ n.tldr }}{% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}