---
layout: page
---

{% include which_course.html %}

{{ content }}

{% capture _course_year %}_{{ course_year }}{% endcapture %}
{% assign lectures = site.data[course_name_raw][_course_year].lectures %}

<ul id="assignment-archive">
  {% for lecture in lectures %}
  {% if lecture.assignment %}
  <li class="assignment-entry">
    <div class="assignment-entry-header">
      <span class="assignment-date">{{ lecture.date }}</span>
      {% if lecture.teacher %}
      <span class="assignment-teacher">{{ lecture.teacher }}：</span>
      {% endif %}
      {% assign first_slides = lecture.slides[0] %}
      <span class="assignment-title">{{ first_slides.title }}{% if lecture.slides.size > 1 %} 等{% endif %}</span>
      <span class="assignment-due">
        {% if lecture.assignment.due %}{{ lecture.assignment.due }} 截止{% else %}不需要提交{% endif %}
      </span>
    </div>
    <ol class="assignment-problems">
      {% for desc in lecture.assignment.descriptions %}
      <li>
        {% if desc.text %}
        {{ desc.text }}
        {% if desc.link %}
        ：<a href="{{ desc.link }}">{{ desc.link }}</a>
        {% endif %}
        {% else %}
        {{ desc }}
        {% endif %}
      </li>
      {% endfor %}
    </ol>
  </li>
  {% endif %}
  {% endfor %}
</ul>
