---
layout: page
---

{% include which_course.html %}

{{ content }}

{% capture _course_year %}_{{ course_year }}{% endcapture %}

<ul id="archive">
  {% for lecture in site.data[course_name_raw][_course_year].lectures %}
  <li class="archiveposturl" style="background: transparent">
    <div class="lecture-container">
      {% if lecture.thumbnail %}
      <div class="thumbnail">
        <div class="center-cropped"
          style="margin-top:5px;margin-bottom:5px;background-image: url('{{ lecture.thumbnail | prepend: site.baseurl }}');">
          <img src="{{ lecture.thumbnail | prepend: site.baseurl }}" />
        </div>
      </div>
      {% endif %}
      <div class="content">
        <span style="color: gray;">{{ lecture.date }}</span>
        <span style="padding-left: 1.5em;"></span>
        {% if lecture.teacher %}
          {{ lecture.teacher }}：
        {% endif %}
          <div style="display: inline-block; vertical-align: top;">
          {% assign first_slides = true %}
          {% for slides in lecture.slides %}
          {% unless first_slides %}<br>{% endunless %}
          {% assign first_slides = false %}
          <span style="font-weight: bold;">{{ slides.title }}</span>
          <a href="slides/{{ slides.link }}" style="padding-left: 0.7em; float: right;">[幻灯片]</a>
          {% endfor %}
        </div>
        {% if lecture.notes %}
        {%for note in lecture.notes %}
        <a href="slides/{{ note.link }}" style="padding-left: 0.5em;">[讲义]</a>
        {% endfor %}
        {% endif %}
        {% if lecture.assignment %}
        <a href="{{ course_base_url }}/assignments" style="padding-left: 0.5em;">[作业]</a>
        {% endif %}

        {% if lecture.tldr %}
        <br><strong>概述：</strong> {{ lecture.tldr }}
        {% endif %}
        {% if lecture.links %}
        <strong>
          <br>{% include lecture_links.html lecture=lecture %}
        </strong>
        {% endif %}

        {% if lecture.content != '' %}
        <br>
        <div class="markdown-content" style="margin-top: 3px;">
          {{ lecture.content }}
        </div>
        {% endif %}
      </div>
    </div>
  </li>
  {% endfor %}
</ul>

{% include announcements.html updates_only=true %}