---
layout: page
---

{% include which_course.html %}

{{ content }}

{% capture _course_year %}_{{ course_year }}{% endcapture %}

<ul id="archive">
  {% for lecture in site.data[course_name_raw][_course_year].lectures %}
  <li class="archiveposturl" style="background: transparent">
    <div class="lecture-container">
      {% if lecture.thumbnail %}
      <div class="thumbnail">
        <div class="center-cropped"
          style="margin-top:5px;margin-bottom:5px;background-image: url('{{ lecture.thumbnail | prepend: site.baseurl }}');">
          <img src="{{ lecture.thumbnail | prepend: site.baseurl }}" />
        </div>
      </div>
      {% endif %}
      <div class="content">
        <span style="color: gray;">{{ lecture.date }}</span>
        <span style="padding-left: 1.5em;"></span>
        {% if lecture.teacher %}
          {{ lecture.teacher }}
        {% endif %}
          <div style="display: inline-block; vertical-align: top;">
          {% assign first_slides = true %}
          {% for slides in lecture.slides %}
          {% unless first_slides %}<br>{% endunless %}
          {% assign first_slides = false %}
          <span style="font-weight: bold;">{{ slides.title }}</span>
          <a href="slides/{{ slides.link }}" style="padding-left: 0.7em; float: right;">[幻灯片]</a>
          {% endfor %}
        </div>
        {% if lecture.notes %}
        {%for note in lecture.notes %}
        <a href="slides/{{ note.link }}" style="padding-left: 0.5em;">[讲义]</a>
        {% endfor %}
        {% endif %}
        {% if lecture.assignment %}
        <a href="{{ course_base_url }}/assignments" style="padding-left: 0.5em;">[作业]</a>
        {% endif %}

        {% if lecture.tldr %}
        <br><strong>概述：</strong> {{ lecture.tldr }}
        {% endif %}
        {% if lecture.links %}
        <strong>
          <br>{% include lecture_links.html lecture=lecture %}
        </strong>
        {% endif %}

        {% if lecture.content != '' %}
        <br>
        <div class="markdown-content" style="margin-top: 3px;">
          {{ lecture.content }}
        </div>
        {% endif %}
      </div>
    </div>
  </li>
  {% endfor %}
</ul>

{% assign lecture_updates = site.data[course_name_raw][_course_year].updates %}
{% if page.hide_empty_updates != true or lecture_updates.size > 0 %}
{% include announcements.html updates_only=true %}
{% endif %}

{% assign schedule = site.data[course_name_raw][_course_year].schedule %}
{% if schedule.size > 0 %}
<h2 id="teaching-plan">教学计划</h2>
<p>以下为本学期的教学计划，具体安排以课程通知为准。</p>
<table class="course-table">
  <thead>
    <tr><th scope="col">日期</th><th scope="col">星期</th><th scope="col">内容</th></tr>
  </thead>
  <tbody>
    {% assign weekdays = "日,一,二,三,四,五,六" | split: "," %}
    {% for session in schedule %}
    {% assign weekday = session.date | date: "%w" | plus: 0 %}
    <tr>
      <td>{{ session.date | escape }}</td>
      <td>{{ weekdays[weekday] }}</td>
      <td>{{ session.topic | escape }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
